h1{
  color:blue;
}

h2 {
  color: cadetblue;
  

}
body {
  background-color: cornsilk;
}

img {
  size:initial;

}

.headline {
  text-align: center;
}

.name {
  font-size:small;
}
.box {
  float: right;
  width:inherit;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
  padding: 1em;
}

.puplist {
  font-size: medium;
  font-style: italic;
  font-variant: normal;
  color: darkblue;
}

#mainpic {
  margin:auto;
  width:auto;
  height: auto;
  display: block;
}
