h1{
  color:blue;
}

h2 {
  color: cadetblue;
  

}
body {
  background-color: cornsilk;
}

img {
  size:initial;
}

.headline {
  text-align: center;
}
.box {
  float: right;
  
  width:inherit;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(207,232,220);
  padding: 1em;
}